* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

$violeta: #2e2939;
$violeta-palido: #dac2e9;
$violeta-grisaceo: #8B8184;

@mixin icons($color, $redondeo) {
    background-color: $color;
    border-radius: $redondeo;
}



body {
    background-color: $violeta-grisaceo;


    footer {
        background-color: $violeta;
    
}



/* ***************** ALL PAGES ******************* */

.header__nav-color {
    background-color: $violeta;
}

.footer__iconos-redondeo {
    @include icons(white, 10px );
    padding: 4px;
}


/* ***************** OVERVIEW ******************* */

.verMas__button-color {
    background-color: $violeta;
    color: white;
}

.verMas__button-color:hover {
    background-color: $violeta-palido;
    color: black;
    border: solid 1px $violeta;
}

}

/* ***************** CONTACT US ******************* */

.contacto__main-altura {
    height: 900px;
}
.main__contacto-fondo {
    background-color: white;
}

.costum__boton-color {
    background-color: $violeta-palido;
    
}

.costum__row-espacio {
    padding-top: 20px;
    padding-bottom: 20px;
}

.costum__readonly-color{
    color: $violeta;
}


